<div class="property-item-wrapper bg-white">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

    <% @properties.each do |property| %>
      <div class="group relative">
        <div class="swiper aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
  <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% property.images.each do |image| %>
          <%= image_tag image, class:"swiper-slide h-full w-full object-cover object-center lg:h-full lg:w-full" %>
        <% end %>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      </div>
        <div class="mt-2">
        <div class="flex justify-between">
            <h3 class="text-base font-medium text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                <%= property.city%>,<%= property.country%>
              </a>
            </h3>
            <p class="font-light flex text-sm items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-3.5">
              <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
            </svg>
              <%= property.average_final_rating%>
            </p>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">Hosted by Shrikant</p>
          <p class="mt-0.5 text-sm text-gray-500">20 - 25 Jan</p>
          <p class="mt-0.5 text-sm font-light text-black"><span class="font-medium"><%= humanized_money_with_symbol( property.price) %></span> night</p>
        </div>
      </div>
      <% end %>

      <!-- More products... -->
    </div>
  </div>
</div>